@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --blue: #8908EF;
  --green: #04D361;
  --red: 	#ad273f;
  --background: #E3E5E5;
  --shapes: #FFFFFF;
  --text-title: #3D3D4D;
  --text: #1C1C29;
  --text-light: #A09CB1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 2rem 'Press Start 2p', sans-serif;
  color: #121214;
}

input, textarea {
  font-family:'Press Start 2p', sans-serif;
  font-size: 0.8rem;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
  box-shadow: #000 2.2px 2px;
}

button, .checkmark {
  cursor: pointer;
}